.section9-card {
  display: flex;
  gap: 15px;
  svg {
    font-size: 24px;
    transform: translateY(3px);
  }
  .section9-card-text {
    h5 {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 119.68%;
      text-transform: capitalize;
      color: #222222;
    }
    p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 188.5%;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      width: 237px;
      color: #747474;
    }
  }
}
