.nav-usericons {
  display: flex;
  gap: 30px;
  .navIcon {
    width: 39px;
    height: 39px;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    svg {
      font-size: 12px;
    }
    .cart {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 990px) {
  .nav-usericons {
    .navIcon {
      background-color: #fff;
    }
  }
}
